.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  padding: 12px 0;

  .header-logo-img {
    height: 34px;
  }
}
