.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;

  .header-title {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 28px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }
}
