@import "styles/variables.scss";

@import "react-bootstrap-typeahead/css/Typeahead.css";
@import "react-bootstrap-typeahead/css/Typeahead.bs5.css";
@import "bootstrap/scss/bootstrap";

.btn-link {
  padding: 0;
}

a,
.btn-link {
  color: $body-color;
  text-decoration: none;

  &:hover {
    color: $body-color;
    text-decoration: underline;
  }
}

.error-banner {
  margin: 16px 0;
}
