.not-found-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }

  .sub-text {
    margin-top: 8px;
  }
}
